
<legend>Expedition</legend>

<label for="entry.expedition.platform">Platform (ship, helicopter etc): </label>
<input type="text" ng-model="entry.expedition.platform">
<label for="entry.expedition.name">Name: </label><input type="text" ng-model="entry.expedition.name">
<label for="entry.expedition.start_date">Expedition start date: </label><datepicker date-format="yyyy-MM-dd"><input type="text" ng-model="entry.expedition.start_date"></datepicker>
<label for="entry.expedition.end_date">Expedition end date: </label>
<datepicker date-format="yyyy-MM-dd"><input type="text" ng-model="entry.expedition.end_date"></datepicker>
<label for="entry.expedition.platform_comment">Platform comment:</label>
<input type="text" ng-model="entry.expedition.platform_comment">
<label for="entry.expedition.organisation">Organisation:</label>
<input type="text" ng-model="entry.expedition.organisation">


<legend>Observation info</legend>
<label for="entry.event_date">Observation date:</label><datepicker date-format="yyyy-MM-dd"><input type="text" ng-model="entry.event_date" /></datepicker><br/>
<label for="entry.locality">Location name: </label><input type="text" ng-model="entry.locality" >
<label for="entry.longitude">Longitude: </label><input type="text" ng-model="entry.longitude">
<label for="entry.latitude">Latitude: </label><input type="text" ng-model="entry.latitude" >
<label for="entry.location_comment">Location comment: </label><textarea type="text" ng-model="entry.location_comment" ></textarea>
<label for="entry.species">Species: </label><select  ng-model="entry.species" ng-options="item  as item.eng + ' (' + item.name + ')' for item in items">
</select>
<label for="entry.adult_m">Adult M:</label><input type="text" ng-model="entry.adult_m">
<label for="entry.adult_f">Adult F:</label><input type="text" ng-model="entry.adult_f">
<label for="entry.adult">Adult:</label><input type="text" ng-model="entry.adult">
<label for="entry.sub_adult">Subadult:</label><input type="text" ng-model="entry.sub_adult">
<label for="entry.polar_bear_condition">Polar bear condition:</label> <select ng-model="entry.polar_bear_condition">
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
</select>
<label for="entry.cub_calf_pup">Cub, calf, pup:</label> <input type="text" ng-model="entry.cub_calf_pup">
<label for="entry.bear_cubs">Bear cubs:</label> <select ng-model="entry.bear_cubs">
<option value="1">Cub of the year</option>
<option value="2">1-year old</option>
<option value="3">2-year old</option>
</select>
<label for="entry.unidentified">Unidentified:</label> <input type="text" ng-model="entry.unidentified">
<label for="entry.dead_alive">Alive or dead:</label><select ng-model="entry.dead_alive">
<option value="NA">Don't know</option>
<option value="dead">Dead</option>
<option value="alive">Alive</option>
</select>
<label for="entry.total">Total: </label><input type="text" ng-model="entry.total">
<label for="entry.habitat">Habitat: </label><select ng-model="entry.habitat">
<option value="none">None</option>
<option value="land">On land</option>
<option value="ice">On ice</option>
<option value="water">In water</option>
</select>
<label for="entry.occurrence_remarks">Comment: </label>
<textarea type="text" ng-model="entry.occurrence_remarks" /></textarea>
<label for="entry.expedition_db.href">Link:</label> <input type="text" ng-model="entry.expedition_db.href" />


<legend><h2>Admin:</h2></legend>
<label for="entry.editor_assessment">Editor's assessment: </label><select ng-model="entry.editor_assessment">
<option value="none">None</option>
<option value="green">Green</option>
<option value="yellow">Yellow</option>
<option value="red">Red</option>
</select>
<label for="entry.editor_comment">Editor comment: </label><textarea type="text" ng-model="entry.editor_comment" /></textarea>
<legend><h2>Add pictures:</h2></legend>
<label for="entry.pictures.photographer">Photographer:</legend><input type="text" ng-model="entry.pictures.photographer" >
<label for="entry.pictures.comments">Comments:</label><input type="text" ng-model="entry.pictures.comments" >

