

<h1><b> My observations <b></h1>
<p></p>
<p></p>

<a href="#/observation"> New</a>&nbsp;&nbsp;
<a href="#/upload">Upload Excelsheet</a>

<p></p>
<div ng-controller="MyObservationsCtrl as sighting">
<table class="layout1">
    <thead>
    </thead>

    <tbody>
    <tr ng-repeat="entry in full.feed.entries"> <td>{{ (entry.event_date).substring(0,10) }}&nbsp;</td>
        <td><a href="partials/edit_observations.html?id={{ entry.id }}">{{ entry.species}}&nbsp;</td>
        <td>{{ entry.locality }}&nbsp;</td>
        <td>{{ entry.latitude }}&nbsp;</td>
        <td>{{ entry.longitude }}&nbsp;</td>
        <td>{{ entry.editor_assessment }}</td>
        <td><a href="#/observation/{{entry.id}}">View</a></td>
        <td><a href="#/observation/edit/{{entry.id}}">Edit</a></td>
        <td><a href="#/observation/delete/{{entry.id}}">Delete</a></td>
   </tr>
   </tbody>
</table>
</div>
</div>
