<div class="pure-g">
<div class="pure-u-2-3">
<h1><b> Become an observer <b></h1>

<p> Report your observations of whales, walruses, seals, and polar bears in the Svalbard area. The reported sightings are actively used in research and monitoring.</p>


<p>	If you are spending time in Svalbard, or planning to do so, we hope you'll consider sending your observations of marine mammals to us.</p>

<p>The Norwegian Polar Institute thanks the cruise tourist guides and others who have reported their observations over the previous years. We hope you will continue reporting, and look forward to our future collaboration! </p>
</div>
</div>
