
<div class="login-logout">
  <div ng-show="security.isAuthenticated()">

    <button ng-click="logout()">Logout</button> <b>{{ user.username }}</b>
    (<a title="View profile for user {{user.username}}" ng-href="https://data.npolar.no/user/{{user.username}}">{{ user.username }} </a>)
  </div>

  <div ng-show="security.notAuthenticated()">
    <form role="form">
      <section ng-show="true" ng-init="loginClicked = false;">
      <table>
        <tr><td>
        <label for="username">Username&nbsp;</label></td><td>
        <input type="text" ng-model="user.username" id="username" placeholder="Username (email)"></td></tr>
        <tr><td><label for="password">Password&nbsp;</label></td><td>
        <input type="password" id="password" ng-model="user.password" placeholder="Password"></td></tr>
      </table>
      <p></p>
      <button id="login2" type="submit" ng-click="login(user.username, user.password)">Login</button>
      </section>
      <a ng-href="https://data.npolar.no/user/login?username={{user.username}}">Forgot password?</a>&nbsp;
      <a href="https://data.npolar.no/user/register">Sign up</a></section>
    </form>
  </div>
</div>
