


<h1><b>Map search <b></h1>

<a href="#/quality_check">Quality check</a>

<div ng-controller="MapCtrl">
<form ng-submit="submit()" class="pure-form pure-form-stacked">


<!-- View map -->


  <leaflet center="center" defaults="layers" markers="markers" controls="controls" height="400px" width="100%"></leaflet>

  <p >Select an area on the map by dragging/dropping</p>

  <br />

  <!-- Search ------>



  <label for="search">General search:&nbsp;</label><input type="text" placeholder="Search Svalbard Sightings.." ng-model="search" />



  <legend>or field search:</legend>

<div class="pure-g">
<div class="pure-u-1 pure-u-md-1-1">
  <label for="entry.species">Species: </label><select  ng-model="entry.species" ng-options="item  as item.eng + ' (' + item.name + ')' for item in items">
</select>
</div>


<div class="pure-u-1 pure-u-md-1-2">
  <label for="start_time">Start time:</label><datepicker date-format="yyyy.MM.dd"><input type="text" ng-model="start_date" ></datepicker>
</div>

<div class="pure-u-1 pure-u-md-1-2">
  <label for="end_time">End time:</label><datepicker date-format="yyyy.MM.dd"><input type="text" ng-model="end_date" ></datepicker>
</div>

<div class="pure-u-1 pure-u-md-1-2">
  <label for="lat2">Latitude start:</label><input type="text" ng-model="lat1" size="5" class="lightblue">
</div>
<div class="pure-u-1 pure-u-md-1-2">
 <label for="lat2">Latitude end:</label> <input type="text" ng-model="lat2" size="5" >
</div>

<div class="pure-u-1 pure-u-md-1-2">
  <label for="lng2">Longitude start:</label><input type="text" ng-model="lng1" size="5" class="lightblue">
</div>

<div class="pure-u-1 pure-u-md-1-2">
   <label for="lng2">Longitude end:</label><input type="text" ng-model="lng2" size="5" >
</div>

<div class="pure-u-1 pure-u-md-1-1">
<input type="submit" id="submit" value="Search" />
</div>

</div>

<p></p>


<!-- Create CSV -->
 <a href="#/csv">Create CSV</a><br /><br />

<!--Table listing part -->

 <table class="layout1">
    <thead>
 <th>Count</th><th>Date</th><th>Species</th><th>Location</th><th>Assessment</th><th>Excelfile</th><th>View</th><th>Edit</th><th>Delete</th>
    </thead>
    <tbody>
   <tr ng-repeat="entry in entries"><td>{{$index + 1}}</td> <td>{{ (entry.event_date).substring(0,10) }}&nbsp;</td>

        <td><a href="partials/edit_observations.html?id={{ entry.id }}">{{ entry.species }}&nbsp;</td>
        <td>{{ entry.locality }}&nbsp;</td>
        <td>{{ entry.editor_assessment }}&nbsp;</td>
        <td><a href="http://{{hostname}}/{{entry.excelfile.filename}}">{{ entry.excelfile.filename }}&nbsp;</td>
        <td><a href="#/observation/{{entry.id}}">View&nbsp;</a></td>
         <td><a href="#/observation/edit/{{entry.id}}">Edit&nbsp;</a></td>
        <td><a href="#/observation/delete/{{entry.id}}">Delete</a></td>
  </tr>
</tbody>
</table>


</form>
</div>









