
<h1><b>Map search <b></h1>


 <form id="submit" ng-submit="submit()" class="pure-form pure-form-stacked">


<label for="search">General search:&nbsp;</label><input type="text" placeholder="Search Svalbard Sightings.." ng-model="search" />


<legend>or field search:</legend>

<div class="pure-g">
<div class="pure-u-1 pure-u-md-1-1">
<label for="species">Species: </label>
     <select ng-model="species" ng-options="item as item.eng + ' (' + item.name + ')' for item in items">
      <option value=""> Undefined </option></select>
</div>


<div class="pure-u-1 pure-u-md-1-2">
 <label for="lat1">Latitude start:</label> <input type="text" ng-model="lat1" size="5" >
</div>

<div class="pure-u-1 pure-u-md-1-2">
 <label for="lat2">Latitude end:</label> <input type="text" ng-model="lat2" size="5" >
</div>

<div class="pure-u-1 pure-u-md-1-2">
  <label for="lng1">Longitude start:</label><input type="text" ng-model="lng1" size="5">
</div>

<div class="pure-u-1 pure-u-md-1-2">
   <label for="lng2">Longitude end:</label><input type="text" ng-model="lng2" size="5" >
</div>


<div class="pure-u-1 pure-u-md-1-1">
<input type="submit" id="submit" value="Search" />
</div>
</div>

 </form>














