

<h1><b> Quality check new observations<b></h1>
<p></p>
<p></p>
<!--<div ng-if="security.isAuthorized('read', endpoint)">-->

<p></p>
 <div ng-controller="QualityCtrl as entry">
<table class="layout1">
    <thead>
        <th>Date</th><th>Species</th><th>Location</th><th>Latitude</th><th>Longitude</th><th></th><th></th>
    </thead>

    <tbody>
    <tr ng-repeat="entry in full.feed.entries"> <td>{{ (entry.event_date).substring(0,10) }}&nbsp;</td>
        <td>{{ entry.species}}&nbsp;</td>
        <td>{{ entry.locality }}&nbsp;</td>
        <td>{{ entry.latitude }}&nbsp;</td>
        <td>{{ entry.longitude }}&nbsp;</td>
        <td><a href="observations/{{entry.id}}/editadmin">Edit</a></td>
        <td><a href="observations/{{entry.id}}/deleteadmin">Delete</a></td>
   </tr>
   </tbody>
</table>
</div>
</div>


<!--</div>  -->
<!-- if not logged in -->
<!--    <div ng-if="!security.isAuthenticated()">
  <h1><b>Administrators <b></h1>
  <p>You need an administrator's account in order to use this module. </p>
</div> -->
