<!--
  <div ng-include="'angular-npolar/ui/template/_head.html'"></div>
-->
<h3>{{document.title}}</h3>
<a ng-if="document.id && isAuthenticated()" ng-href="{{document.id}}/edit"><button class="btn btn-danger">edit</button></a>
<!-- <button ng-click="locationBase()" class="btn btn-default">back</button></a> -->
<button class="btn btn-default"><a href="./observations">Back</a></button>
<!-- <div ng-repeat="(k,v) in document">  -->
<div ng-repeat="(k,v) in document">

 <b>{{k }}</b>: {{v}}<br />

 <!--  <p>{{v|json}}</p>  -->
</div>

<section ng-repeat="link in document.links">
  ppp<a ng-href="{{link.href}}">{{link.title}}</a>
</section>




<table>
<tr><td><b>Images</b></td></tr>

<tr ng-repeat="picture in document.pictures">
<td><b><a href="http://{{hostname}}/stored_images/{{entry.id}}/{{picture.filename}}">{{picture.filename}}&nbsp;</a></b></td>
<td><b>Size:&nbsp; {{picture.content_size}} &nbsp;</b></td>
<td><b>Photographer:&nbsp;{{picture.photographer}}&nbsp;</b></td>
</tr>

</table>

</div>
