<!--
  <div ng-include="'angular-npolar/ui/template/_head.html'"></div>
-->
<h3>{{document.title}}</h3>
<a ng-if="document.id && isAuthenticated()" ng-href="{{document.id}}/edit"><button class="btn btn-danger">edit</button></a>
<button ng-click="locationBase()" class="btn btn-default">back</button></a>
<div ng-repeat="(k,v) in document">
  <h4>{{k}}</h4>
  <p>{{v|json}}</p>
</div>

<section ng-repeat="link in document.links">
  <a ng-href="{{link.href}}">{{link.title}}</a>
</section>





<!--<div ng-controller="ViewObservationCtrl as entry">

<div ng-include="view.html"></div>
<br /> -->

<table>
<tr><td><b>Images</b></td></tr>

<tr ng-repeat="picture in entry.pictures">
<td><b><a href="http://{{hostname}}/image_upload/{{entry.id}}/{{picture.filename}}">{{picture.filename}}&nbsp;</a></b></td>
<td><b>Size:&nbsp; {{picture.content_size}} &nbsp;</b></td>
<td><b>Photographer:&nbsp;{{picture.photographer}}&nbsp;</b></td>
</tr>

</table>

</div>


<h3>{{document.title}}</h3>
<a ng-if="document.id && isAuthenticated()" ng-href="{{document.id}}/edit"><button class="btn btn-danger">edit</button></a>
<button ng-click="locationBase()" class="btn btn-default">back</button></a>
<div ng-repeat="(k,v) in document">
  <h4>{{k}}</h4>
  <p>{{v|json}}</p>
</div>

<section ng-repeat="link in document.links">
  <a ng-href="{{link.href}}">{{link.title}}</a>
</section>
