<!doctype html>
<html lang="en" ng-app="sighting" ng-strict-di>
<head>
  <title>Svalbard Marine Mammal Sightings</title>
  <!--base href - needed for routing $locationProvider -->
  <base href="/sighting/" />
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="./npdc-sighting-routes-latest.css">


  <!--[if lte IE 8]>
    <link rel="stylesheet" href="assets/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="assets/leaflet.css">
  <link rel="stylesheet" href="assets/leaflet.draw.css">
 <!-- <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css"> -->
  <!--<![endif]-->

</head>

<body class="container">

<br />


<!--Menu -->

<header>
  <a href="http://www.npolar.no/no/tjenester/mms/index.html" id="logo"></a>

<nav id="nav_id">
<a href="#" id="menu-icon"></a>
<ul ng-controller="PanelCtrl as panel">
<li class="menu"><a href ng-click="panel.choosePath('login')" class="current">Login</a></li>
<li class="menu"><a href ng-click="panel.choosePath('observe')" class="menu">Become observer</a></li>
<li class="menu"><a href ng-click="panel.choosePath('species')" class="menu">Species</a></li>
<li class="menu" ng-show="security.isAuthenticated()"><a href ng-click="panel.choosePath('observers')" class="menu">Observers</a></li>
<li class="menu" ng-show="security.isAuthenticated()"><a href ng-click="panel.choosePath('my_observations')" class="menu">My observations</a></li>
<li class="menu" ng-show="security.isAuthenticated()"><a href ng-click="panel.choosePath('admin')" class="menu">Administrators</a></li>
</ul>
</nav>


</header>
<section>
<div ng-view></div>

</section>
<script lang="javascript"  src="app.js"></script>
<!--<script lang="javascript" src="assets/shim.js"></script> -->
<script lang="javascript" src="assets/jszip.js"></script>
<script lang="javascript" src="assets/xlsx.js"></script>
<script lang="javascript" src="assets/ods.js"></script>
<script src="assets/leaflet.js"></script>
<script src="assets/angular-leaflet-directive.js"></script>
<script src="assets/leaflet.draw.js"></script>


</html>
